@media screen and (max-width: 600px) {
  nav {
    display: none;
    font-size: 12px;
    justify-content: center;
    max-width: 100%;
  }
  nav a:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border-radius: 5px;
  }
  header {
    display: flex;
    background-color: var(--secondary-color);
    max-width: 100%;
    height: auto;
    align-items: center; /* Opcional: centraliza verticalmente */
    gap: 0;
    margin: 0px;
    font-family: var(--heading-font);
  }
  img {
    max-width: 50px;
    height: auto;
    margin: 0px;
  }
  header h1 {
    justify-content: flex-start;
    font-size: 15px;
  }
  .menu {
    display: flex;
    font-size: 2rem;
    margin-right: 0px;
    margin-left: auto; /* Adicionado */
    padding: 10px;
    background-color: var(--secondary-color);
    border: none;
  }
  footer {
    background-color: var(--secondary-color);
    font-size: 7px; /* Reduzido */
    font-family: var(--heading-font);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .active {
    display: none;
  }
  .fade-in {
    max-width: 370px;
    height: auto;
  }
  .contactinfo {
    margin-left: 0px;
    padding: 10px;
  }
  .copyright {
    text-align: center;
    margin: 10px;
  }
  .fechar {
    display: none;
    background-color: var(--secondary-color);
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    border: none;
    color: var(--primary-color);
    position: absolute;
    left: 395px;
    top: 4px;
  }
  #ch {
    display: none;
  }
  main {
    max-width: 400px;
    margin: 0px;
    padding: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
  }
  #eventos {
    max-width: 370px;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  #eventos h4 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 30px;
  }
  #eventos li a {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  #weather {
    font-size: 10px;
    max-width: 370px;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  #weatherr {
    font-size: 15px;
  }
  #weather h4 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 30px;
  }
  #forecastbox {
    height: auto;
    padding: 0px;
    justify-items: center;
    font-size: 10px;
    max-width: 370px;
    margin: 0px;
  }
  #forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 5px;
  }
  #forecast p {
    font-size: 12px;
  }
  #for_title {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    height: 30px;
    text-align: center;
  }
  .businesses {
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  #call {
    font-size: 10px;
    text-align: center;
  }
  #home {
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
}
